<div class="col-lg-6 text-center">

  <div *ngIf="showFirst">
    <form class="sanitycheckform">

      <img src="../assets/sanitycheck.png" style="height: 450px" /><br />
      <br />

      <p class="lead">What does n stand for in the above image?</p>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="n" id="n1" value="samplesize" [(ngModel)]="radio1.value" [checked]="false" />
        <label class="form-check-label" for="n1">Sample size</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="n" id="n2" value="numbars" [(ngModel)]="radio1.value" [checked]="false" />
        <label class="form-check-label" for="n2">Number of bars</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="n" id="n3" value="maxvalue" [(ngModel)]="radio1.value" [checked]="false" />
        <label class="form-check-label" for="n3">Maximum shown value</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="n" id="n4" value="statsign" [(ngModel)]="radio1.value" [checked]="false" />
        <label class="form-check-label" for="n4">Statistical significance</label>
      </div>

      <div class="form-check errormsg" *ngIf="errorOccured">
        <p class="lead errormsgtxt">Please select one item in the list...</p>
      </div>

      <div class="form-check nextbtn">
        <button type="button" class="btn btn-info" (click)="submitFirst()">Save and Continue</button>
      </div>

    </form>
  </div>

  <div *ngIf="showSecond">
    <form class="sanitycheckform">

      <img src="../assets/sanitycheck.png" style="height: 450px" /><br />
      <br />

      <p class="lead">What is the sample size (= number of shown data points) in the above image?</p>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="s" id="s1" value="1000" [(ngModel)]="radio2.value" [checked]="false" />
        <label class="form-check-label" for="s1">1000</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="s" id="s2" value="10000" [(ngModel)]="radio2.value" [checked]="false" />
        <label class="form-check-label" for="s2">10000</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="s" id="s3" value="100000" [(ngModel)]="radio2.value" [checked]="false" />
        <label class="form-check-label" for="s3">100000</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="s" id="s4" value="1000000" [(ngModel)]="radio2.value" [checked]="false" />
        <label class="form-check-label" for="n4">1000000</label>
      </div>

      <div class="form-check errormsg" *ngIf="errorOccured">
        <p class="lead errormsgtxt">Please select one item in the list...</p>
      </div>

      <div class="form-check nextbtn">
        <button type="button" class="btn btn-info" (click)="submitSecond()">Save and Continue</button>
      </div>

    </form>
  </div>

</div>
